<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                    <% if (process.env.NODE_ENV !== 'production') { %>
                </h4>
                <p>Aww yeah, you successfully read this important alert message. Something went wrong! Go back to the campground below.</p>
                <% } %>
            </div>
        </div>
        <div class="col-6 offset-3">
            <a class="btn btn-success" href="/campgrounds">Back to Campground</a>
        </div>
    </div>